
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background: #f4f6f9;
}
.flex{
    display: flex;
}
.sidebar {
    width: 250px;
    background: #fff;
    padding: 20px;
    min-height: 100vh;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}
.sidebar .dashboard svg {
    background-color: #007bff;
    padding: 10px;
}
.sidebar nav ul .dashboard {
    align-items: center;
    padding: 0px;
}

.sidebar h2 {
    text-align: center;
    color: #333;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
}

.sidebar nav ul li {
    align-items: center;
    padding: 10px;
}

.sidebar nav ul li a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.sidebar nav ul li:hover {
    background: #F2F9FD;
    color: white;
}

.content {
    flex: 1;
    padding: 20px;
    
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 15px;
    border-bottom: 2px solid #ddd;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.btn {
    background: #ff5733;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color (0.3s, transform 0.2s);
}

.btn:hover {
    background: #c70039;
    transform: scale(1.05);
}

.stats {
    flex-wrap: wrap;
    margin: 20px 0;
    display: flex;
    column-gap: 24px;
    align-items: flex-start;
}

.card1{
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    width: 30%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}
.stats .card{
    height: 150px;
    width: 221px;
    border-radius: 6px;
background: #F2F9FD;
}
.header_card{
    justify-content: space-between;
}
.header_card .title{
    align-items: center;
    color: #2E96C9;
    column-gap: 8px;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
}

.stats .card{
    height: 150px;
    width: 221px;
    border-radius: 6px;
background: #F2F9FD;
}
.header_card{
    justify-content: space-between;
}
.header_card .title{
    align-items: center;
    color: #2E96C9;
    column-gap: 8px;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
}

.card2{
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    width: 30%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}
.stats .card{
    height: 150px;
    width: 221px;
    border-radius: 6px;
background: #F2F9FD;
}
.header_card{
    justify-content: space-between;
}
.header_card .title{
    align-items: center;
    color: #2E96C9;
    column-gap: 8px;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
}

.card3{
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    width: 30%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}
.stats .card{
    height: 150px;
    width: 221px;
    border-radius: 6px;
background: #F2F9FD;
}
.header_card{
    justify-content: space-between;
}
.header_card .title{
    align-items: center;
    color: #2E96C9;
    column-gap: 8px;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
}
